* {
    box-sizing: border-box;
}

.favicon {
    width: 32px;
    /* Set the size of the favicon */
    height: 32px;
    /* Set the size of the favicon */
    background-size: cover;
    /* Ensure the image covers the entire area */
    border-radius: 50%;
    /* Make the image circular */
    display: block;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    color: #d4d4d4;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #252526;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #252526;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #333;
}

header h1,
footer h2 {
    color: #d7ba7d;
    margin: 0;
}

#menuDisplay {
    /* display: none; */
    position: fixed;
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d7ba7d;
    gap: 60px;
    width: 100%;
    height: 0;
    background-color: #333;
    transition: all 1s ease;
}

#menuDisplay>div:not(:first-child) {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.no-scroll {
    overflow: hidden;
}

#menuButton {
    z-index: 3;
}

#menuButton>svg>line {
    transition: all 1s ease;
}

#menuDisplay>div:first-child {
    height: 50px;
    overflow: hidden;
}

#menuDisplay>div>h2 {
    transform: translate(0, 100px);
    transition: all 1s ease;
}

@keyframes falling0 {
    0% {
        transform: translateY(-60vh) rotate(0deg);
        opacity: 0;
    }

    65% {
        transform: translateY(10vh) rotate(15deg);
        opacity: 0.5;
    }

    75% {
        transform: translateY(-3vh) rotate(0deg);
        opacity: 0.9;
    }

    100% {
        transform: translateY(4vh) rotate(0deg);
        opacity: 1;
    }
}

@keyframes falling1 {
    0% {
        transform: translateY(-60vh) rotate(0deg);
        opacity: 0;
    }

    65% {
        transform: translateY(15vh) rotate(20deg);
        opacity: 0.5;
    }

    75% {
        transform: translateY(-4vh) rotate(0deg);
        opacity: 0.9;
    }

    100% {
        transform: translateY(8vh) rotate(0deg);
        opacity: 1;
    }
}

@keyframes falling2 {
    0% {
        transform: translateY(-60vh) rotate(0deg);
        opacity: 0;
    }

    65% {
        transform: translateY(12vh) rotate(18deg);
        opacity: 0.6;
    }

    75% {
        transform: translateY(-5vh) rotate(0deg);
        opacity: 0.85;
    }

    100% {
        transform: translateY(8vh) rotate(0deg);
        opacity: 1;
    }
}

@keyframes falling3 {
    0% {
        transform: translateY(-60vh) rotate(0deg);
        opacity: 0;
    }

    65% {
        transform: translateY(20vh) rotate(25deg);
        opacity: 0.7;
    }

    75% {
        transform: translateY(-6vh) rotate(0deg);
        opacity: 0.9;
    }

    100% {
        transform: translateY(9vh) rotate(0deg);
        opacity: 1;
    }
}

@keyframes falling4 {
    0% {
        transform: translateY(-60vh) rotate(0deg);
        opacity: 0;
    }

    65% {
        transform: translateY(5vh) rotate(12deg);
        opacity: 0.4;
    }

    75% {
        transform: translateY(-2vh) rotate(0deg);
        opacity: 0.7;
    }

    100% {
        transform: translateY(1vh) rotate(0deg);
        opacity: 1;
    }
}

.animatedLink {
    color: aqua;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 5px;
    opacity: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* Added soft shadow for depth */
}

.animatedLink.falling0 {
    animation: falling0 1s cubic-bezier(0.40, 0.3, 0.3, 0.3);
    animation-delay: .5s;
    opacity: 1;
    transition: opacity .5s ease .5s;
}

.animatedLink.falling1 {
    animation: falling1 1.2s cubic-bezier(0.80, 0.5, 0.3, 0.4);
    animation-delay: .7s;
    opacity: 1;
    transition: opacity .5s ease .7s;
}

.animatedLink.falling2 {
    animation: falling2 1s cubic-bezier(1, 0.2, 0.5, 0.6);
    animation-delay: 1s;
    opacity: 1;
    transition: opacity .5s ease 1s;
}

.animatedLink.falling3 {
    animation: falling3 1.4s cubic-bezier(0.2, 0.3, 0.3, 0.4);
    animation-delay: .8s;
    opacity: 1;
    transition: opacity .5s ease 1.6s;
}

.animatedLink.falling4 {
    animation: falling4 1.9s cubic-bezier(0.6, 0.1, 0.6, 0.4);
    animation-delay: .3s;
    opacity: 1;
    transition: opacity .5s ease .3s;
}

.animatedLink:hover {
    color: #00ffff;
    text-decoration: underline;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
}

.animatedLink:active {
    transform: scale(0.98);
    box-shadow: 0 2px 5px rgba(0, 255, 255, 0.3);
    color: #00b3b3;
}

#ide-container {
    display: flex;
    flex-direction: row;
    height: 75vh;
    padding: 20px;
}

.ide-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    margin-right: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

#ide-container #buttons {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    text-align: left;
    border-bottom: 1px solid #333;
}

#ide-container h2 {
    color: #d7ba7d;
}

#ide-container button {
    height: fit-content;
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#ide-container button:hover {
    background-color: #005f99;
}

textarea.editor {
    flex: 1;
    background-color: #252526;
    color: #d4d4d4;
    border: none;
    padding: 20px;
    resize: none;
    font-size: 1rem;
    line-height: 1.5;
    outline: none;
    white-space: pre;
}

.CodeMirror.cm-s-dracula {
    flex: 1;
    background-color: #252526;
    color: #d4d4d4;
    border-radius: 5px;
    cursor: text;
    font-size: 1rem;
    max-width: 47.3vw;
}

.CodeMirror.cm-s-dracula .CodeMirror-cursor {
    border-left: 1px solid #d4d4d4;
}

.CodeMirror-gutter {
    padding-right: 10px;
    background-color: #333;
}

.CodeMirror-sizer {
    margin: 10px;
}

.CodeMirror.cm-s-dracula .CodeMirror-selected {
    background-color: #007acc !important;
    color: black !important;
}

.output-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 5px;
    /* min-width: 300px; */
}

.output-section #output {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #252526;
    color: #d4d4d4;
    border-radius: 5px;
}

#documentation {
    padding: 20px;
    background-color: #1e1e1e;
    border-top: 1px solid #333;
}

#documentation h1 {
    color: #d7ba7d;
}

#documentation h2 {
    color: #569cd6;
}

#documentation ul {
    margin: 10px 0;
    padding: 0 20px;
}

#documentation li {
    margin-bottom: 5px;
}

#documentation p {
    margin: 10px 0;
    line-height: 1.6;
}

#documentation pre {
    background-color: #252526;
    color: #d4d4d4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    line-height: 1.5;
    font-size: 0.9rem;
}

#documentation pre span {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .CodeMirror.cm-s-dracula {
        max-width: 100%;
    }

    #ide-container {
        flex-direction: column;
        height: 100vh;
    }

    .ide-section {
        margin-right: 0;
        margin-bottom: 10px;
    }

}