*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: bisque;
}

main{
    width: 98%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editor {
    height: 300px;
    width: 100%;
    border: 1px solid grey;
}

#output {
    height: 100px;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
}

button {
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(189, 255, 189);
    border: 1px solid grey;
}